.todo-icon {
    padding: 10px 10px 10px 10px;
}
.todo-modification {
    flex: 1;
    text-align: right;
}
.todo-list{
    margin: 20px;
}
.todo-buttons-container {
    margin: 15px;
    display: flex;
    justify-content: flex-end
}
.todo-button {
    margin-right: 20px;
}
.text-center {
    align-content: center;
    text-align: center;
}
.todo-content {
    margin: 40px 300px;
    border: 1px solid;
}