
.todo-modification {
    flex: 1;
    text-align: right;
}

.todo-icon {
    padding: 10px 10px 10px 10px;
}
.header {
    background-color: white;
    align-content: center;
    text-align: center;
}
.footer {
    align-content: center;
    text-align: center;
}